<form [formGroup]="roomForm" (ngSubmit)="submitForm()">
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                
                <label for="roomNumber" style="margin-bottom: 5px; ">Broj sobe:
                    </label> <input (ngModelChange)="osmotri($event)" formControlName="roomNumber" name="roomNumber" id="roomNumber" #newroomNumber class="form-control"
                    placeholder="Molimo unesite broj sobe:" required>

            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="h_name" style="margin-bottom: 5px;">Ime hotela: </label>
                <input (ngModelChange)="osmotri($event)" formControlName="h_name" name="D" id="h_name" #newh_name
                    class="form-control" placeholder="Molimo unesite ime hotela:" required="required">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="nights" style="margin-bottom: 5px;">Broj nocenja:
                    </label>
                <input formControlName="nights" name="nights" id="nights" #newanights
                    class="form-control" placeholder="Molimo unesite broj nocenja:" required="required">
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="availablePpl" style="margin-bottom: 5px;">Broj osoba: </label>
                <input formControlName="availablePpl" name="availablePpl" id="availablePpl" #newavailablePpl
                    class="form-control" placeholder="Molimo unesite broj osoba:" required="required">
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="price" style="margin-bottom: 5px;">Cena po veceri:</label>
                <input [formControl]="roomForm.controls['price']" formControlName="price" name="price" id="price" #newprice class="form-control"
                    placeholder="Molimo unesite cenu za vece:" required="required">
                <div *ngIf="roomSku.hasError('invalidForm')" class="alert alert-danger">Uneta vrednost moze biti samo broj
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12" style="margin-top: 10px;">
            <button  [disabled]="( roomSku.hasError('invalidForm') || !roomForm.controls['price'].value)" style="min-width: 100%; " class="btn btn-success btn-send pt-2 btn-block" type="submit"
                name="submit">Dodaj</button>
        </div>
    </div>
</form>